.example-tab-icon {
    margin-right: 8px;
  }
  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
 .mat-card{
  box-shadow: 11px 5px 1px -1px rgba(167, 39, 39, 0.2), 2px 0px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}


 
  .creacion_usuarios{
    
    justify-content: center;
    margin: 5px;

  }