<mat-card>

  <mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        <i class="material-icons">
          airline_seat_flat_angled
        </i>
        HISTORIA CLINICA


      </ng-template>
      <mat-card class="creacion_usuarios"> 
        <form class="creacion usuarios">
  
  
          <table class="example-full-width" cellspacing="0">
              <tr>
                  <td>
                      <mat-form-field class="example-full-width">
                          <input matInput placeholder="Nombre">
                      </mat-form-field>
                  </td>
                  <td>
                      <mat-form-field class="example-full-width">
                          <input matInput placeholder="Apellido">
                      </mat-form-field>
                  </td>
                  <td>
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Sexo">
                  </mat-form-field>
                  </td>
                  <td>
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="edad">
                  </mat-form-field>
                  </td>

              </tr>
          </table>

<br>
<br>
          <table class="example-full-width" cellspacing="0">
              <tr>
                  <td>
                      <mat-form-field class="example-full-width">
                          <input matInput placeholder="Ciudad">
                      </mat-form-field>
                  </td>
                  <td>
                    <mat-form-field class="example-full-width">
                      <input type="text"
                             placeholder="Diagnostico"
                             aria-label="text"
                             matInput
                             [formControl]="myControl"
                             [matAutocomplete]="auto">
                      <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                          {{option}}
                        </mat-option>
                      </mat-autocomplete>
                    </mat-form-field>
                  </td>
                  <td>
                      <mat-form-field class="example-full-width">
                          <input matInput placeholder="Causa Externa">
                      </mat-form-field>
                  </td>
                 
              </tr>
          </table>
          <br><br>
          <p>
            <mat-form-field class="example-full-width">
                <textarea matInput placeholder="Observaciones Medicas"></textarea>
            </mat-form-field>
             
        </p>
      </form>


        
 </mat-card>















       
</mat-tab>

<mat-tab>
  <ng-template mat-tab-label> 
    <i class="material-icons">
      enhanced_encryption
    </i>
    DIAGNOSTICOS Y MEDICAMENTOS
  </ng-template>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor eaque voluptas aperiam natus ea explicabo doloribus enim, incidunt sapiente eveniet, minus officiis voluptate, dignissimos sint dolores nostrum architecto. Deserunt, quaerat.
</mat-tab>


</mat-tab-group>
</mat-card>
